.clearfix {
    &:after {
        display: block;
        content: " ";
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border-bottom {
        &::after {
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .border-bottom {
        &::after {
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}


@media (-webkit-min-device-pixel-ratio:1.5),(min-device-piexl-ratio:1.5){
    .border-top{
      &::before{
        -webkit-transform:scaleY(0.7);
        transform:scaleY(0.7);
      }
    }
}


@media (-webkit-min-device-pixel-ratio:2),(min-device-piexl-ratio:2){
  .border-top{
    &::before{
      -webkit-transform:scaleY(0.5);
      transform:scaleY(0.5);
    }
  }
}




@media (-webkit-min-device-pixel-ratio:1.5),(min-device-piexl-ratio:1.5){
  .border-left{
    &::before{
      -webkit-transform:scaleX(0.7);
      transform:scaleX(0.7);
    }
  }
}


@media (-webkit-min-device-pixel-ratio:2),(min-device-piexl-ratio:2){
.border-left{
  &::before{
    -webkit-transform:scaleX(0.5);
    transform:scaleX(0.5);
  }
}
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-device-piexl-ratio:1.5){
  .border-right{
    &::before{
      -webkit-transform:scaleX(0.7);
      transform:scaleX(0.7);
    }
  }
}


@media (-webkit-min-device-pixel-ratio:2),(min-device-piexl-ratio:2){
  .border-right{
    &::before{
      -webkit-transform:scaleX(0.5);
      transform:scaleX(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
  .border-all{
    &:after{
      width: 150%!important;
      height: 150%!important;
      transform-origin: 0 0;
      -webkit-transform:scale(0.7);
      transform:scale(0.7);

    }
  }
}


@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
  .border-all{
    &:after{
      width: 200%!important;
      height: 200%!important;
      transform-origin: 0 0;
      -webkit-transform:scale(0.5);
      transform:scale(0.5);
    }
  }
}
